* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "楷体";
    color: #fff;
}
body{
    background: url(../img/xxxx.gif);
}
audio{
    background-color: #fff;
    display: none;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.date {
    text-align: right;
    padding: 30px;
    margin-right: 50px;
    font-size: 20px;
}

.date span {
    display: inline-block;
    width: 200px;
}

.box {
    display: flex;
}

.left {
    flex: 1;
    /* background-color: pink; */
    padding: 20px;
}

.left ul {
    display: flex;
    width: 100%;
    /* background-color: azure; */
    flex-wrap: wrap;
}

.left ul li {
    width: 16%;
    font-size: 24px;
    /* background-color: aquamarine; */
    text-align: center;
    margin: 30px 0;

    /* 字体渐变 */
    background-image: linear-gradient(to right, orange, purple);
    -webkit-background-clip: text;
    color: transparent;
    /* font-size: 30px; */
}

.right {
    flex: 1;
    /* background-color: aqua; */
    padding: 20px;
}


.right p {
    padding: 170px 0 170px 30px;
    font-size: 40px;
}

.right p span {
    font-size: 60px;
    background-image: linear-gradient(to right, orange, purple);
    -webkit-background-clip: text;
    color: transparent;
}

.footer {
    padding: 30px;

}

.footer ul {
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.footer ul li button {
    border: 0;
    border-radius: 20px;
    background-color: #67c23a;
    color: #fff;
    height: 40px;
    line-height: 40px;
    /* padding: 20px; */
    padding: 0 20px;
    font-size: 16px;
    font-family: "微软雅黑";
    cursor: pointer;
    overflow: hidden;
}