<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>课堂</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>姓：<input type="text" v-model="firstName"></p>
        <p>名：<input type="text" v-model="lastName"></p>

        <p>全名：<input type="text" v-model="fullName"></p>
        <p>{{fullName}}</p>
        <p>{{fullName}}</p>
        <p>{{fullName}}</p>
        <p>{{fullName}}</p>
    </div>
</body>
<script src="./js/vue.js"></script>
<script>
    Vue.config.productionTip = false //阻止 vue 在启动时生成生产提示。
    new Vue({
        el: '#app',
        data: {
            firstName: "小",
            lastName: "白船",
            fullName: ""
        },
        methods: {

        },
        computed: {
            // 简易写法：
            /* fullName(){
                return this.firstName + "-" + this.lastName
            } */

            // 完整写法
            /* fullName:{
                get(){
                    console.log("数据被读取","get");
                    return this.firstName + "-" + this.lastName
                },
                set(value){
                    console.log("修改数据","set");
                    let arr = value.split("-")
                    this.firstName = arr[0]
                    this.lastName = arr[1]
                }
            } */

        },
        watch: {
            firstName: {
                handler(newVal, oldVal) {
                    console.log(newVal, oldVal);
                    this.fullName = this.firstName + "-" + this.lastName
                }
            },
            lastName: {
                handler(newVal, oldVal) {
                    console.log(newVal, oldVal);
                    // 可以设置异步事件
                    setTimeout(() => {
                        this.fullName = this.firstName + "-" + this.lastName
                    }, 1000)
                }
            },
            fullName: {
                immediate: true, //立即监听
                handler(newVal, oldVal) {
                    if (!newVal && !oldVal) {
                        this.fullName = this.firstName + "-" + this.lastName

                    }
                    let arr = this.fullName.split("-")
                    this.firstName = arr[0]
                    this.lastName = arr[1]
                }
            },
        }
    })
</script>

</html>